@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-albert-sans);
  --font-serif: var(--font-domine);
}

@media (prefers-color-scheme: light) {
  :root {
    --negro: #0a0a0a;
    --blanco: #ededed;
    --fondo-claro: #FFEFE0;
    --color-acento: #E94228;
    --color-medio: #FEAA4E;
    --color-acento2: #D2D835;
    --color-oscuro: #225629;
  }
}

body {
  background: var(--blanco);
  color: var(--negro);
  font-family: var(--font-sans);
}
